*
{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

header
{
    width: 100%;
    height: 150px;
    background: #666;
}

header h2
{
    font-family: 'Paytone One', sans-serif;
    color: #fff;
    text-align: center;
    padding-top:30px;
}

header button
{
    font-family: 'Paytone One', sans-serif;
    font-size: 1.5em;
    color: #222;
    width: 200px;
    height: 50px;
    border: solid 2px #444;
    margin: 10px 0;
}

section
{
    margin: 20px 0;
    text-align: center;
}

section article
{
    font-size: 1.3em;
}

section article p
{
    text-shadow: -2px 3px 2px #888;
}

section aside
{
    margin: 10px;
}

section aside img
{
    border-radius: 50%;
    box-shadow: -10px 10px 10px 5px #666;
}